<h1> Restaurant Selector</h1>


<main class="mainQ5">
<%= form_tag '/home/question5' do %>
  <%= label_tag(:restaurant_price, "Restaurant Price") %>
  <br><br>
  <%= range_field(:restaurant, :price, in: 1..4, step: 1, value: 1, onChange: "displayMoney(this.value)") %>
  <span id="price">$</span>
  <br>

  <%= hidden_field_tag 'term', @term %>
  <%= hidden_field_tag 'location', @location %>
  <%= hidden_field_tag 'distance', @distance %>
  <%= hidden_field_tag 'dining', @dining %>
<%= submit_tag "Next", :class => "submit"  %>

<% end %>
</main>



<script>
  function displayMoney(amount) {
    var moeny = amount;
    var str = "";
    var i;
    for (i = 1; i <= amount; i ++) {
      str = str.concat("$");
    }
    console.log(str);
    document.getElementById("price").innerHTML = str;
  }
</script>
